.container{
    position: fixed;
    height: 99vh;
    z-index: -1;
    width: 99vw;
    background-color: rgb(19, 18, 18);
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
}
h4{
    text-align: center;
}
.box{
    border: 3px solid rgb(5, 5, 5);
    background-color: rgb(129, 11, 240);
    border-radius: 10px;
    width: 25%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textbox{
    margin-left: 60px;
    margin-bottom: 20px;
}
#button{
transition: all 0.1s  ease-in;
margin-left: 90px;
margin-top: 20px;
height: 27px;
width: 100px;
border-radius: 10px;
background-color: rgb(39, 37, 37);
color: white;
border-color: brown;
}
#button:hover{
transform: scale(1.2);
background-color: rgb(170, 4, 4);
color: white;
border-color: brown
}
#remember{
    margin-left: 30px;
}
form a{
    color: black;
    margin-left: 110px;
    font-size: 20px;
}
.left{
    display: flex;
    position: absolute;
    left: left;
    color: aliceblue;
}
.left li{
    font-size: 2rem;
}
.mid{
    display: flex;
    position: relative;
    left: 300px;
    width: 600px;
    padding: 20px;
    size: 1.5rem;
}
.mid li{
    padding-right: 75px;
    font-size: 1.2rem;
}
.mid li a{
       color: rgb(245, 245, 245);
       text-decoration: none;
        padding: 3px 3px;
    }
.mid li a:hover{
       color: darkblue;
   }
